.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }
  

header { 
justify-content: space-around;
color: rgb(70, 240, 175);
}
h1{
    font-style: italic;
    font-weight: bolder;
}
h6{
    color: lightcoral;
}

h2{
    color: lightcoral;
}

/*body{
    margin: 10px;
    background: url(images/macarons\ 6.jpg);
    font-family: "satisfy-regular";
    color: black;}*/

/*nav{
    border-radius: 50%;
    background-color: blue;}*/

#presentation{
    border-radius: 10px;
    padding: 5%;
    font-family: "satisfy-regular";
   text-align: justify ;
    
}

.container-main{
    align-items:center;
    margin: 1%;  
}

.card-title{
    font-weight: bold;
    color: rgb(255, 0, 187);
}

/*.card-img-top{
    width: auto;
    max-height: 100%;
}*/

.col {
    transition: transform 0.3s, box-shadow 0.3s;
}
.col:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.card-img-top {
    height: 250px;
    object-fit: cover;
}

.footer{
    background-color:rgba(255, 0, 187, 0.138);    
}


.bg-gradient-rose {
      background: linear-gradient(135deg, #fdf6f8, #fbc6d6d1);
      color: black;
    }

.svg{
    transition: width 0.3s;
    width: 60px;
}
.svg:hover{
    width: 80px;
}